.footer {
  font-size: 18px;
  padding-top: 64px;

  &__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-bottom: 64px;

    @media only screen and (max-width: 632px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      & .footer__info-group:nth-child(3),
      & .footer__info-group:nth-child(4) {
        margin-top: 128px;
      }
    }
  }

  .footer__info-group {
    display: flex;
    flex-flow: column nowrap;
    width: 150px;
    margin-inline: 16px;
    font-size: 17px;
    align-items: center;
  }

  &__location {
    input {
      width: 100%;
      border: 2px solid #000;
      padding: 4px 8px 4px 8px;
      border-radius: 40px;
      font-size: 14px;
      background-color: white;
    }
    select {
      width: 100%;
      border: 1px dashed #000;
      padding: 4px 8px 4px 8px;
      border-radius: 2px;
      margin-top: 12px;
      font-size: 14px;
      background-color: white;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 19px;
  }

  &__contact {
  }

  &__hours {
  }

  &__delivery {
  }

  &__copyright {
    padding-block: 16px;
  }
}
.footer-contact {
  &__address {
    padding-inline: 8px;
  }

  &__phone {
    margin-top: 12px;
    padding-inline: 8px;
  }

  &__email {
    margin-top: 12px;
    padding-inline: 8px;
  }
}
.footer-hours {
  &__text {
    padding-inline: 8px;
  }
}
.footer-delivery {
  &__text {
    padding-inline: 8px;
  }
}
.copyright {
  &__footer-text {
    font-size: 13px;
    padding-inline: 16px;
    text-align: center;
  }
}
