@import 'colors';
.header {
  display: flex;
	min-height: 64px;
  flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 18px;

  &__menu {
    display: flex;
    flex-flow: row wrap;
		justify-content: center;
  }

  &__profile {
		margin-inline: 16px;
  }
}
.menu {
  &__link {
		margin-inline: 16px;
    cursor: pointer;
    &:hover{
      color: $color-orange-normal;
    }
  }
}
.profile {
  cursor: pointer;
  &:hover{
    color: $color-orange-normal;
  }
}
