@import "colors";

// keep footer visible and on the bottom of Home page
.app__footer {
  margin-top: 100%;
}

.home-page {
  width: 100%;
  &__bg {
    width: 100%;
  }
  &__bg-image {
    width: 100%;
    position: absolute;
  }
}

.animate-show {
  @supports (animation-fill-mode: forwards) {
    animation-name: show;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
